{% extends 'app/base.html' %}
{% load static %}
{% block title %}Laptops{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="list-group">
    <a href="{% url 'laptops' %}" class="list-group-item list-group-item-action" aria-current="true">All Brands</a>
    <a href="{% url 'laptop-filter' 'Apple' %}" class="list-group-item list-group-item-action" aria-current="true">Apple</a>
    <a href="{% url 'laptop-filter' 'Lenovo' %}" class="list-group-item list-group-item-action" aria-current="true">Lenovo</a>
    <a href="{% url 'laptop-filter' 'Dell' %}" class="list-group-item list-group-item-action" aria-current="true">Dell</a>
    <a href="{% url 'laptop-filter' 'under' %}" class="list-group-item list-group-item-action" aria-current="true">Under $500</a>
   </div>
  </div>

  <div class="col-sm-8">
   <div class="row">
    {% for product in laptops %}
    
    <div class="col-sm-4 text-center mb-4">
        <a href="{% url 'product-detail' product.id %}" class="btn">
            <div class="item">
                <img src="{{product.product_image.url}}" alt="" height="100px">
                <div class="fw-bold">{{product.title}}</div>
                <div class="fw-bold">${{product.discount_price}}</div>
                <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
            </div>
        </a>
    </div>
   
   {% endfor %}
   </div>
  </div>
 </div>
</div>
{% endblock main-content %}