{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change password{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{user.username | capfirst}}</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Profile</a></li>
   </ul>
  </div>
  <div class="col-sm-4 offset-sm-3">
    <h3 class="text-center">Change password</h3>
    <hr>
    <div class="my-3 text-center">
     {% if messages %}
         {% for message in messages %}
             <p {% if message.tags %} class="alert alert-{{message.tags}}" {% endif %}>{{message}}</p>
         {% endfor %}
     {% endif %}
     </div>
 
    <form action="" method="post" novalidate class="border rounded p-5">
     {% csrf_token %}
     {% for field in form %}
          <div class="form-group mb-3">
             {{field.label_tag}} {{field}} <small class="text-danger">{{field.errors | striptags}}</small>
          </div>
     {% endfor %}

     <input type="checkbox" onclick="ShowFunction()"> Show Password
     
     <div class="d-grid gap-2 my-3">
         <input type="submit" value="Save" class="btn btn-primary">
      </div>
     
 
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}
    </form>
  </div>
 </div>
</div>
{% endblock main-content %}