.owl-carousel .item{
 /* border: 1px solid black; */
 font-size: 24px;
 text-align: center;
 margin-top: 20px;;
}

.owl-next{
 float:right;
}
.owl-prev{
 float:left;
}
.owl-prev span{
 font-size: 24px;
 font-weight: bold;
}
.owl-next span{
 font-size: 24px;
 font-weight: bold;
}

.owl-item {
    text-align: center !important;
}

.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    max-width: 100px;
    height: 100%;
    text-align: center;
    margin: 0 auto;
  }